div {
    height: 150px;
    width: 150px;
    background: red;
    animation-name: Myanimation;
    animation-duration: 3s;
    animation-delay: 1s;
    position: relative;
}
@keyframes Myanimation{
0%{background: red;
left: 0px;
top: 0px;
}
25%{ background: #e2f103;
left: 1280px;
top: 0px;
}
50%{ background: blue;
left: 1280px;
top: 600px;
}
75%{background: black;
left: 0px;
top: 600px;
}
100%{background: green;
top: 0px;
left: 0px;
}
}